<div class="d-flex flex-column py-2 <%= current_user == msg.user ? 'align-items-end' : 'align-items-start' %>">
  <div class="message-wrapper px-3 py-1 rounded-pill <%= current_user == msg.user ? 'bg-base' : '' %> ">
    <%= msg.body %>
  </div>
  <div class="text-muted">
    <%= time_ago_in_words(msg.created_at) %>
  </div>
</div>