<div class="text-muted text-capitalize p-4 text-center">
  you have no chat rooms here, please try to contact users from there profile page click on the message button next to the user image profile to lunch a new chat room.
</div>