<div class="row">
  <div class="sidbar-size-2 inside-vh scroll-y border-right bg-white">
    <%= there_is_no_room? %>
    <% @rooms.each do |room| %>
      <%= get_rooms(room) %>
    <% end %>
  </div>

  <div class="col inside-vh p-0 d-flex flex-column bg-white">
    <%= get_room %>
  </div>
</div>