// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$base-color: #4e9ad6;

.active-room {
  border-right: 5px solid $base-color;
}

.room-profile-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.message-wrapper {
  background-color: #e6ecf0;
}

.chat-vh {
  height: calc(100vh - 56px - 38px - 97px);
}
