<%= link_to edit_user_registration_path, class: 'text-decoration-none' do %>
  <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
    <i class="fas fa-user-edit"></i>
  </div>
<% end %>