<%= link_to following_path(follower), method: :delete, class: 'text-decoration-none' do %>
  <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
    <i class="fas fa-minus"></i>
  </div>
<% end %>