<%= link_to followings_path(followed_id: follower), method: :post, class: 'text-decoration-none' do %>
  <div class="text-muted border-muted border rounded-circle d-flex justify-content-center align-items-center follow-button">
    <i class="fas fa-plus"></i>
  </div>
<% end %>